@model TestMVCApp.Models.LoginFormViewModel

<div class="login-wrapper">
    <div class="child-section">
        <h2>Login</h2>

        @await Html.PartialAsync("~/Views/Shared/CustomForm.cshtml", Model)

    </div>
</div>