
@model RegisterFormViewModel

<div class="login-wrapper">
    <div class="child-section">
        <h2>Register</h2>

        @await Html.PartialAsync("~/Views/Shared/CustomForm.cshtml", Model)
    </div>
</div>