.login-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-wrapper .child-section {
    width: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; }
  table th, table td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: left; }
  table tr:nth-child(even) {
    background-color: #f9f9f9; }
  table th {
    background-color: #333;
    color: white; }
